.headerWrapper {
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--blue);
}
.logoContainer {
  width: 300px;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: flex;
  color: var(--black);
  position: static;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 1.05rem;
}
.navbar p {
  position: relative;
  cursor: pointer;
}

.placeHolder {
  position: absolute;
  content: "";
  background-color: rgba(253, 184, 17, 0.48);
  left: -10px;
  top: 0;
  height: 100%;
}
