* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  font-family: var(--font);
  font-weight: 400;
  line-height: 1.5;
  color: var(--slate);
}
:root {
  --yellow: #fdb811;
  --grey: #e1eefc;
  --blue: #003a78;
  --black: #212529;
  --slate: #4b4b4b;
  --font: "Open Sans", sans-serif;
} */
